@model List<SII.Lection>
@{
    ViewData["Title"] = "Lections";
    Layout = "Layout";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>Lections</h1>

<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>University</th>
        <th>Author</th>
        <th>Subject</th>
        <th>Language</th>
        <th>Rating</th>
        <th>Pages</th>
        <th>Year</th>
        <th>ThemesCount</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (SII.Lection l in Model)
    {
        <tr>
            <td>@l.Id</td>
            <td>@l.Title</td>
            <td>@l.University</td>
            <td>@l.Author</td>
            <td>@l.Subject</td>
            <td>@l.Language</td>
            <td>@l.Rating</td>
            <td>@l.Pages</td>
            <td>@l.Year</td>
            <td>@l.ThemesCount</td>
            <td>
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@l.Id">Удалить</a>
            </td>
        </tr>
    }
</table>

<form method="post">
    <fieldset>
        <legend>Add lection</legend>
        <div>
            <label for="Id">Id::</label>
            <input type="text" name="Id" value="" />
        </div>
        <div>
            <label for="Title">Title:</label>
            <input type="text" name="Title" value="" />
        </div>
        <div>
            <label for="University">University:</label>
            <input type="text" name="University" value="" />
        </div>
        <div>
            <label for="Author">Author:</label>
            <input type="text" name="Author" value="" />
        </div>
        <div>
            <label for="Subject">Subject:</label>
            <input type="text" name="Subject" value="" />
        </div>
        <div>
            <label for="Language">Language:</label>
            <input type="text" name="Language" value="" />
        </div>
        <div>
            <label for="Rating">Rating:</label>
            <input type="text" name="Rating" value="" />
        </div>
        <div>
            <label for="Pages">Pages:</label>
            <input type="text" name="Pages" value="" />
        </div>
        <div>
            <label for="Year">Year:</label>
            <input type="text" name="Year" value="" />
        </div>
        <div>
            <label for="ThemesCount">ThemesCount:</label>
            <input type="text" name="ThemesCount" value="" />
        </div>
        <div>
            <label>&nbsp;</label>
            <input type="submit" value="Submit" class="submit" />
        </div>
    </fieldset>
</form>